.dropicon{
  vertical-align: center;
  padding-left: 12px;
}
.label{
  font-family: 'Poppins';
  display: flex;
}
.menuitem{
  font-family: 'Poppins';
  font-size: 14px;
  padding-top: 10px;
}
.button{
  font-size: 12px;
  padding-left: 50px;
}
.avatar{
  margin-left: 10px;
  margin-right: 20px;
}
.droplist{
  display: flex;
  padding-top: 8px;
}