@import '/src/styles/variables';
@import '/src/styles/screenhooks';

.root{
  width: 100%;
  margin-left: 15px;
  padding-left: 21px;
  margin-top: 6px;
  padding-bottom: 15px;
  border-left: dashed;
  border-width: 1px;
  height: 100%;
  color: $label-secondary;
  border-color: $label-primary;
  .label{
    font-size: 12px;
    color: black;
    font-family: 'Roboto';
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 14.06px;
  }
  .toggleButtonFlap{
    // margin-bottom: 10px;
  }
  .radioButtonFlap{
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .inputDataField{
    margin-top: 10px;
    .datePickerFlap{
      border: solid !important;
      height: 39px;
      border-width: 0.5px !important;
      border-radius: 4px !important;
      border-color: #7B91AB !important; 
      max-width: 230px;
    }
    .timePickerFlap{
      margin-top: 20px;
      margin-bottom: 20px;
      border: solid !important;
      height: 39px;
      border-width: 0.5px !important;
      border-radius: 4px !important;
      border-color: #7B91AB !important; 
      max-width: 230px;
    }
    .noteTextFlap{
      max-width: 230px;
      font-size: 12px;
      font-family: "Roboto";
      font-weight: 500;
    }
  }
  .bottomButton{
    font-family: 'Poppins';
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: 12px;
    margin-top: 10px;
    display: flex;
    max-width: 230px;
    justify-content: space-between;
  }
}