.left_col {
  background: url("../../../assets/imgs/bkg_auth.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.right_col {
  text-align: center;
  padding-top: 100px;
}
.login_form_div {
  width: 80%;
  margin: auto;
  margin-top: 80px;
}
.version {
  font-size: xx-small; color: #333; text-align: center; padding-top: 2em;
}
