@import '/src/styles/variables';
@import '/src/styles/screenhooks';

.content{
  margin-top: 70px;
  margin-bottom: 40px;
  .top{
    font-family: 'Poppins';
    line-height: 36px;
    letter-spacing: 1.5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    .title{
      font-size: 20px;
      font-weight: bold;
    }
    .update{
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.5px;
      color: #00000050;
    }
  }
  .cards{
    @media (min-width: 600px) {
      height: 285px;
    }
  
    @media (max-width: 600px) {
      margin: 0 !important;
    }
  }
  .footer{
    font-family: 'Roboto';
    font-size: 14px;
    color: $label-third;
    letter-spacing: 0.5px;
    font-weight: 400;
    line-height: 17px;
    padding-top: 20px;
    text-align: center;
  }
  
}

