$primary: #2C6FB4;
$secondary: #418E57;
$third: #C35965;
$forth: green;
$label-primary: #7B91AB;
$label-secondary: #777777;
$label-third: #666666;
$line-primary: #D9DCE8;
$line-secondary: #C4C4C4;
$main-background: #F7F8FA;
//Screen sizes
$xs-min-breakpoint: 600px;
$small-min-breakpoint: 1024px;
$small-max-breakpoint: 1439px;
$medium-min-breakpoint: 1440px;
$medium-max-breakpoint: 1919px;
$large-min-breakpoint: 1920px;
