
.label{
  padding-top: 10px;
  font-size: 14px;
  font-family: 'Poppins';
  font-weight: bold;
  color: white;
  letter-spacing: 1.5px;
  padding-left: 15px !important;
}

@media only screen and (min-width: 1280px) {
  .root{
    display: flex;
    justify-content: space-between;
    height: 40px;
    background-color: #69A3D6;
    .leftbar{
      width: 75%;
      height: 100%;
      display: flex;
      align-items: center;
      .barleft{
        width: 100%;
      }
      .barright{
        margin-right: -15px;
        .rotate{
          background-color: #69A3D6;
          width: 28px;
          height: 28px;  
          transform: rotate(45deg);  
        }
      }
      .label{
        font-size: 14px;
        font-family: 'Poppins';
        font-weight: semi-bold;
        color: white;
        letter-spacing: 1.5px;
        padding-top: 0px;
        padding-left: 20px !important;
      }
    }
    .rightbar{
      background-color: #2C6FB4;
      width: 25%;
      height: 100%;
      .label{
        padding-top: 10px;
        font-size: 14px;
        font-family: 'Poppins';
        font-weight: semi-bold;
        color: white;
        letter-spacing: 1.5px;
        padding-left: 35px !important;
      }
    }
  }
}
@media only screen and (max-width: 1279px) {
  .root{
    display: flex;
    justify-content: space-between;
    height: 40px;
    background-color: #69A3D6;
    .leftbar{
      width: 65%;
      height: 100%;
      display: flex;
      align-items: center;
      .barleft{
        width: 100%;
      }
      .barright{
        margin-right: -15px;
        .rotate{
          background-color: #69A3D6;
          width: 28px;
          height: 28px;  
          transform: rotate(45deg);  
        }
      }
      .label{
        font-size: 14px;
        font-family: 'Poppins';
        font-weight: semi-bold;
        color: white;
        letter-spacing: 1.5px;
        padding-top: 0px;
        padding-left: 20px !important;
      }
    }
    .rightbar{
      background-color: #2C6FB4;
      width: 35%;
      height: 100%;
      .label{
        padding-top: 10px;
        font-size: 14px;
        font-family: 'Poppins';
        font-weight: semi-bold;
        color: white;
        letter-spacing: 1.5px;
        padding-left: 35px !important;
      }
    }
  }
}
@media only screen and (max-width: 960px) {
  .root{
    display: flex;
    justify-content: space-between;
    height: 40px;
    background-color: #69A3D6;
    .leftbar{
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      .barleft{
        width: 100%;
      }
      .barright{
        margin-right: -15px;
        .rotate{
          background-color: #69A3D6;
          width: 28px;
          height: 28px;  
          transform: rotate(45deg);  
        }
      }
      .label{
        font-size: 14px;
        font-family: 'Poppins';
        font-weight: semi-bold;
        color: white;
        letter-spacing: 1.5px;
        padding-top: 0px;
        padding-left: 20px !important;
      }
    }
    .rightbar{
      background-color: #2C6FB4;
      width: 50%;
      height: 100%;
      .label{
        padding-top: 10px;
        font-size: 14px;
        font-family: 'Poppins';
        font-weight: semi-bold;
        color: white;
        letter-spacing: 1.5px;
        padding-left: 35px !important;
      }
    }
  }
}
