@import '/src/styles/variables';
@import '/src/styles/screenhooks';

.root{
  display: block;
  .graphicFlap{
    padding-top: 15px;
  }
  .body{
    .main{
        height: calc(100vh - 300px);
        overflow: hidden;
        &:hover{
          overflow-y: scroll;
        }
        &::-webkit-scrollbar {
          display: none;
        }
      .content{
        color: $label-secondary;
        font-size: 12px;
        font-family: "Lato";
        font-weight: 700;
        display: flex;
        @media (min-width: 1223px) {
          padding-top: 10px;
          position: fixed;
          height: 30px;
        }
        @media (max-width: 1222px) {
          padding-top: 20px;
        }
        width: 100%;
        z-index: 100;
        background-color: $main-background;
        .label{
          padding-left: 30px;
          padding-right: 20px;
        }
      }
      .cardBox{
        @media (min-width: 1223px) {
          margin-top: 40px;
        }
        @media (max-width: 1222px) {
          margin-top: 10px;
        }
        padding-bottom: 10px;
        .card{
          padding-top: 10px;
          padding-left: 25px;
          padding-right: 25px;
        }
      }
      .footer{
        font-family: 'Roboto';
        font-size: 14px;
        color: $label-third;
        letter-spacing: 0.5px;
        font-weight: 400;
        line-height: 17px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
      }
    }
  }
}
.card{
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

.modalBody{
  @media (max-width: 1024px) {
    width: 83%;
    height: 92%;
  }
  @media (min-width: 1025px) {
    width: 80%;
    height: 92%; 
  }
  margin: 2% auto;
  background-color: white;
  border-radius: 5px;
  border: none;
  outline: none;
  .modalContent{
    padding: 40px;
    height: calc(100% - 60px);
  }
}
